#aboutSection{
  min-height: 93.2vh;
}
#avatar{
  height: 300px;
  width: 300px;
  padding: 10px;
}
#avatarWrapper{
  border-radius: 10px;
  padding-top: 5vh;
}

#aboutSection .fab, #aboutSection .fas{
  padding-right: 15px;
  padding-top: 10px;
  text-decoration: none;
  color: #f8f9fa;
  font-size: 45px;
}
