body{
  background: url("../images/preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#bodyContainer{
  margin-top: 56px;
  padding-top: 10px;
}
.section{
  min-height: 93.2vh;
  width: 100vw;
}
