body{
  background: url("../images/preview.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#bodyContainer{
  margin-top: 56px;
  padding-top: 10px;
}
.section{
  width: 100vw;
  margin: 0;
}
